<div class="container">
  <div class="card mx-auto text-center" style="width: 32rem; margin-top: 10rem">
    <div class="card-body">
      <h3 class="card-title">Typing Challege</h3>

      <p class="fs-5">
        <span
          *ngFor="let letter of randomText.split(''); let i = index"
          [class]="compare(letter, enteredText[i])"
          >{{ letter }}</span
        >
      </p>

      <div class="my-5">
        <input
          type="text"
          #box
          (keyup)="onInput(box.value)"
          class="form-control"
          placeholder="start typing here"
        />
      </div>

      <div *ngIf="randomText === enteredText">
        <p class="text-center text-success fs-5">Success !</p>
      </div>
    </div>
  </div>
</div>
